/* div, li {
  border: 1px solid grey;
} */

.icon {
  color: inherit;
}

.icon:hover {
  color: var(--main-bg-color);
  transition: color .5s;
}

/* header */

.wrapper {
  width: 100%;
  /* max-width: 1024px; */
  margin: 0 auto;
  flex-direction: column;
}

.mail-nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: .2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  margin: 1rem 1rem 0 1rem;
}

.logo {
  margin: 0;
}

.mail-nav .logo {
  font-size: 3rem;
  font-weight: 600;
  margin-right: auto;
}

.mail-nav-items {
  margin-left: auto;
  width: 10rem;
}

.mail-nav-items ul {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.icon svg {
  margin-bottom: .3rem;
}

.image-cropper {
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: none;
}

.image-cropper:hover {
  border: 2px solid var(--main-bg-color);
  transition: border .5s;
}

.image-cropper > img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* Main mail area */
.mails {
  display: flex;
  padding: 1rem;
}

.mail-area-nav-container {
  border-top: 2px solid var(--secondary-bg-color);
  border-bottom: 2px solid var(--secondary-bg-color);
  border-radius: 4px;
  margin-right: .5rem;
}

.mail-area-nav-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-right: .5rem;
  padding: .5rem;
  font-size: 2rem;
}

.mail-area {
  margin-left: .5rem;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  border-top: 2px solid var(--secondary-bg-color);
  border-bottom: 2px solid var(--secondary-bg-color);
  border-radius: 4px;
}

.mail-list {
  margin-bottom: 2rem;
}

.mail-list .mail-item {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  margin-bottom: 1rem;
  border: 2px solid var(--main-bg-color);
  border-radius: 4px;
}

.mail-list .mail-item a {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: .5rem;
  color: inherit;
  font-weight: 500;
  text-decoration: none; 
}

.mail-list .mail-item a:hover {
  box-shadow: 0 10px 6px -6px var(--main-bg-color);
  transition: all .5s;
}

#mail-left {
  margin-left: auto;
}

#mail-right {
  margin-right: auto;
}

#mail-sender, #mail-timestamp {
  margin-right: 2rem;
}

#mail-delete:hover {
  color: var(--main-bg-color);
  transition: color .5s;
}

/* Dropdown menu */
.dropdown li {
  display: block;
  transition-duration: 0.5s;
}

.dropdown li:hover {
  cursor: pointer;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  display: none;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 4px;
  margin-top: .5rem;
  margin-right: 1rem;
  background: #fff;
  width: 15rem;
  flex-direction: column;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  transition: all 0.5s ease;
}

/* .dropdown .dropdown-item {
  clear: both;
  width: 100%;
} */

.dropdown li {
  text-align: left;
  padding-left: 1rem;
}

.dropdown li:hover {
  background: var(--main-bg-color);
  color: #fff;
}

.dropdown li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}